<template>
    <div class="pagination">
        <button type="button" class="pagination__btn pagination__btn--prev btn btn--primary" @click="prevPage" v-if="currentPage > 1">
            {{ $t('form.previous') }}
        </button>
            <p class="pagination__text">
                {{currentPage}} / {{pageCount}}
            </p>
        <button type="button" class="pagination__btn pagination__btn--next btn btn--primary" @click="nextPage" v-if="currentPage < pageCount">
            {{ $t('form.next') }}
        </button>
    </div>
</template>

<script src="./Pagination.js"></script>
