.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__text{
  margin-left: 20px;
  user-select: none;
  margin-right: 20px;
}

.site-wrapper{
  padding: 50px 0;
}
