<template>
    <div class="lrw-table__row">
        <div class="lrw-table__cell">
            {{ record.index+1 }}
        </div>
        <div class="lrw-table__cell">
            {{ record.fio }}
        </div>
        <div class="lrw-table__cell">
            {{ record.fullAddress }}
        </div>
        <div class="lrw-table__cell">
            {{ record.peopleAmount }}
            <!--Кол-во жильцов-->
        </div>
        <div class="lrw-table__cell">
            {{ record.hasCounters }}
            <!--наличие приборов учёта(ПУ)-->
        </div>
        <div class="lrw-table__cell">
            {{ record.typeOfWs }}
            <!--Тип ВС-->
        </div>
        <div class="lrw-table__cell">
            {{ roundValue(record.peopleConsumptionRate) }}
            <!--Норма водопотребления л/с-->
        </div>
        <div class="lrw-table__cell">
            {{ roundValue(record.subsidyConsumptionRate) }}
            <!--Водопотребление, подлежащее субсидированию-->
        </div>
        <div class="lrw-table__cell"
             v-bind:class="{ 'table-input--error': record.error}">
            <input type="text"
                   ref="input"
                   v-model="record.consumptionRate">
            <!--Расход-->
        </div>
        <div class="lrw-table__cell">
            {{ record.tariff }}
            <!--Тариф-->
        </div>
        <div class="lrw-table__cell">
            {{ roundValue(record.tariffPrice = localTariffPrice) }}
            <!--Стоимость по тарифу-->
        </div>
        <div class="lrw-table__cell">
            {{ roundValue(record.subsidySum = localSubsidySum) }}
            <!--Сумма субсидии-->
        </div>
        <div class="lrw-table__cell">
            {{ roundValue(record.total = total)}}
            <!--К оплате-->
        </div>
    </div>

</template>
<script src="./Record.js"></script>
