.lrw-table{
  display: block;
  width: 100%;
  overflow-x: auto;
}


.lrw-table__row{
  display: table-row;
  &:first-child, &.lrw-table__row--total{
    .lrw-table__cell{
      color: #495057;
      background-color: #e9ecef;
      border-color: #dee2e6;
      font-weight: 700;
    }
  }
}

.lrw-form__commonTableError{
  user-select: none;
}

.lrw-form-file-btn.btn.btn--primary{
  cursor: pointer;
}

.lrw-form__err-mess{
  color: red;
  padding-top: 10px;
  font-size: 15px;
  display: inline-flex;
}

.lrw-form__input-wrapper{
  flex-shrink: 0;
  position: relative;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
}


.lrw-form__input{
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 35px;
  font-size: 16px;
  color: #495057;
  outline: none;
  background-color: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out, -moz-box-shadow .15s ease-in-out;
}

.lrw-form__label{
  flex-shrink: 0;
  display: block;
  user-select: none;
  width: 100%;
  line-height: 1.4em;
  max-width: 400px;
  font-size: 16px;
  padding-right: 20px;
  padding-top: 8px;
  span {
    color: red
  }
}

.btn{
  cursor: pointer;
}



.lrw-table__cell{
  display: table-cell;
  padding: 10px 15px;
  line-height: 1.3em;
  font-size: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
  width: 130px;
  &:nth-child(3), &:nth-child(6){
    white-space: nowrap
  }
  input{
    border: none;
    height: 30px;
    width: 50%;
    outline: none;
    background: transparent;
  }
  span{
    color: red;
  }

  &.table-input--error{
    border-color: red
  }
}

