@import "~reset-css/sass/reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import "../pagination/Pagination";
@import "../record/Record";
@import "../alert/alert";
@import "../buttons/buttons";

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; //wdwd
    color: #212529;
}

h1.page-title{
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
}


.container{
    max-width: 1500px !important;
    overflow: hidden !important;
}


.lrw-form_btn, .lrw-form-file-btn{
    box-shadow: none !important;
    outline: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    & + .lrw-form_btn{
        margin-left: 20px
    }
}

.lrw-form-file-btn{
    position: relative;
    cursor: pointer;
    display: block;
}

.lrw-form-file-name{
    outline: none;
    box-shadow: none;
    border: none;
    margin-left: 15px;
    border-bottom: 1px solid #929ba0;
}

.lrw-form__input-wrapper.lrw-form__input-wrapper--ng{
    display: flex;
    flex-direction: row;
}

.lrw-form__input.lrw-form__input--file2{
    border: none;
    border-bottom: 1px solid #212529;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    margin-left: 20px;
    max-width: 260px;
}

.lrw-form__input.lrw-form__input--file{
    position: absolute;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.page-title{
    color: #003fb3;
    font-size: 20px;
    text-align: center;
}

.lrw-form__block-file-tip{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #985700;
    font-size: 15px;
    p:first-child{
        margin-right: 40px;
    }
}

.lrw-form__block{
    display: flex;
    position: relative;
    &.lrw-form__block--file{
        padding-bottom: 45px;
    }
    & + .lrw-form__title-wrapper{
        margin-top: 40px;
    }
    & + .lrw-form__block{
        margin-top: 25px;
    }
}

.lrw-form__title-wrapper{
    position: relative;
    & + .lrw-form__block{
        margin-top: 40px;
    }
    &::before{
        position: absolute;
        display: block;
        width: 100%;
        border-top: 3px solid #90c4ff;
        top: 50%;
        padding-right: 10px;
        content: "";
    }
}

.lrw-form__title{
    color: #003fb3;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 10px;
    font-weight: bold;
    font-size: 17px;
    z-index: 10;
}

.lrw-form__container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn.btn--primary{
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover{
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    }
}

.site-wrapper{
}


.lrw-table-wrapper{
    margin-left: auto;
    max-width: 1900px;
    padding-top: 40px;
}

.lrw-form__commonTableError{
    color: red;
    width: 100%;
    display: block;
    font-size: 16px;
    & + .lrw-form__commonTableError{
        margin-top: 20px;
    }
}

.lrw-form__controls{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.lrw-form__submit-block{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}


.btn.btn--primary{
    position: relative;
    span{
        display: inline-flex;
        align-items: center;
    }
    img{
        margin-left: 5px;
    }
}

//RESET__DIALOG____________________________________
.dg-main-content{
    max-width: 600px !important;
}


.form-wrapper{
    &.form-wrapper--submitted{
        display: flex;
        height: 100%;
        align-items: center;
    }
}

body, html{
    height: 100%;

}

.site-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
