<script src="../../../config/index.js"></script>
<template>
    <div class="form-wrapper" v-bind:class="{ 'form-wrapper--submitted': isSubmitted }">
        <h1 class="page-title" v-if="!isSubmitted">{{ $t('form.title') }}</h1>
        <form v-if="!isSubmitted" @submit.prevent="submit" novalidate class="lrw-form">
            <div class="lrw-form__container">
                <div class="lrw-form__title-wrapper">
                    <h3 class="lrw-form__title">{{ $t('form.applicantInformation') }}</h3>
                </div>

                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="bin">{{ $t('form.bin') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input v-mask="'############'" type="text" readonly="readonly" class="lrw-form__input" id="bin" v-model="form.bin"
                               @input="onFieldInput($event)"
                               v-bind:class="getFieldClasses('bin')">
                        <div v-if="isErrorField('bin')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.bin') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="orgname">{{ $t('form.orgname') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" readonly="readonly" id="orgname" v-model="form.orgname"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('orgname')">
                        <div v-if="isErrorField('orgname')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.orgname') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="headFio">{{ $t('form.headFio') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" id="headFio" v-model="form.headFio"
                               @input="onFieldInput($event)" readonly="readonly" v-bind:class="getFieldClasses('headFio')">
                        <div v-if="isErrorField('headFio')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.headFio') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="contactPhone">{{ $t('form.contactPhone') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" id="contactPhone"
                               v-model="form.contactPhone"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('contactPhone')">
                        <div v-if="isErrorField('contactPhone')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.contactPhone') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="urAddress">{{ $t('form.urAddress') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" readonly="readonly" id="urAddress" v-model="form.urAddress"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('urAddress')">
                        <div v-if="isErrorField('urAddress')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.urAddress') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="email">{{ $t('form.email') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" readonly="readonly" id="email" v-model="form.email"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('email')">
                        <div v-if="isErrorField('email')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.email') }) }}
                        </div>
                    </div>
                </div>

                <div class="lrw-form__title-wrapper">
                    <h3 class="lrw-form__title">{{ $t('form.choiceServiceProvider') }}</h3>
                </div>

                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="locality">{{ $t('form.locality') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <select id="locality" class="lrw-form__input" v-model="form.locality"
                                @change="onFieldInput($event), localityChange($event)"
                                v-bind:class="getFieldClasses('locality')">
                            <option v-for="loca in localityList" v-bind:key="loca.value" v-bind:value="loca.value">
                                {{ loca.label }}
                            </option>
                        </select>
                        <div v-if="isErrorField('locality')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.locality') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="guName">{{ $t('form.guName') }}</label>
                    <div class="lrw-form__input-wrapper">
                        <!--<input type="text" class="lrw-form__input" id="guName" v-model="form.guName"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('guName')">-->
                        <select id="guName" class="lrw-form__input" v-model="form.guName"
                                @change="onFieldInput($event)" v-bind:class="getFieldClasses('guName')">
                            <option v-for="gu in guList" v-bind:key="gu.value" v-bind:value="gu.value">
                                {{gu.label}}
                            </option>
                        </select>
                        <div v-if="isErrorField('guList')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.guList') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="repMonth">{{ $t('form.repMonth') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <select id="repMonth" class="lrw-form__input" v-model="form.repMonth"
                                @change="onFieldInput($event)"
                                v-bind:class="getFieldClasses('repMonth')">
                            <option v-for="type in repMonthList" v-bind:key="type.value" v-bind:value="type.value">
                                {{ type.label }}
                            </option>
                        </select>
                        <div v-if="isErrorField('repMonth')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.repMonth') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="repYear">{{ $t('form.repYear') }} *</label>
                    <div class="lrw-form__input-wrapper">
                        <input v-mask="'####'" type="text" class="lrw-form__input" id="repYear" v-model="form.repYear"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('repYear')">
                        <div v-if="isErrorField('repYear')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.repYear') }) }}
                        </div>
                    </div>
                </div>
                <div class="lrw-form__block">
                    <label class="lrw-form__label" for="subsSum">{{ $t('form.subsSum') }}</label>
                    <div class="lrw-form__input-wrapper">
                        <input type="text" class="lrw-form__input" id="subsSum" v-model="form.subsSum"
                               @input="onFieldInput($event)" v-bind:class="getFieldClasses('subsSum')">
                    </div>
                </div>

                <div class="lrw-form__title-wrapper">
                    <h3 class="lrw-form__title">{{ $t('form.docAttache') }}</h3>
                </div>

                <div class="lrw-form__block lrw-form__block--file">
                    <label class=lrw-form__label for="file">{{ $t('form.fileLabel') }}*</label>
                    <div class="lrw-form__input-wrapper">
                        <div class="lrw-form__input-wrapper lrw-form__input-wrapper--ng">
                            <button class="lrw-form-file-btn btn btn--primary">
                                <input type="file" class="lrw-form__input lrw-form__input--file" id="file"
                                       accept=".pdf, .jpg, .jpeg, .png, .PNG, .JPEG, .PDF"
                                       ref="fileInput"
                                       v-on:change="onFileInput($event)"
                                       v-bind:class="getFieldClasses('file')">
                                {{ $t('form.chooseFile') }}
                            </button>
                            <input type="text" readonly class="lrw-form__input lrw-form__input--file2"
                                   v-model="fileName">
                        </div>
                        <div class="lrw-form__err-mess" v-if="isFileUploadError">
                            {{ $t('form.fileUploadError') }}
                        </div>
                        <div v-if="isErrorField('file')" class="lrw-form__err-mess">
                            {{ $t('error.fieldRequired', { field: $t('form.file') }) }}
                        </div>
                    </div>
                    <div class="lrw-form__block-file-tip">
                        <p>{{ $t('form.file1') }}</p>
                        <p>{{ $t('form.file2') }}</p>
                    </div>
                </div>

                <div class="lrw-form__title-wrapper">
                    <h3 class="lrw-form__title">{{ $t('form.applicantInformation') }}</h3>
                </div>
            </div>
            <div class="lrw-table-wrapper">
                <table class="lrw-table">
                    <tr class="lrw-table__row">
                        <td class="lrw-table__cell" v-html="$t('form.pP')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.consumerName')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.address')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.peopleAmount')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.pU')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.typeOfWs')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.waterNorm')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.waterMonth')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.consumptionRate')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.rate')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.consumptionRatePrice')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.subsSumS')"></td>
                        <td class="lrw-table__cell" v-html="$t('form.totalTable')"></td>
                    </tr>
                    <record v-for="(value) in allRecords"
                            v-show="value.page === currentPage"
                            :key="value.id"
                            @update:consumptionRate="consumptionRateUpdate"
                            :record="value"></record>
                    <tr class="lrw-table__row lrw-table__row--total" v-if="isTotalVisible">
                        <td class="lrw-table__cell" colspan="3">{{ $t('form.total') }}</td>
                        <td class="lrw-table__cell">{{ total.peopleAmount }}</td> <!--Кол-во жильцов-->
                        <td class="lrw-table__cell"></td>
                        <td class="lrw-table__cell"></td>
                        <td class="lrw-table__cell">{{ roundValue(total.peopleConsumptionRate) }}</td>
                        <!--Норма водопотребления л/с-->
                        <td class="lrw-table__cell">{{ roundValue(total.subsidyConsumptionRate) }}</td>
                        <!--Водопотребление, подлежащее субсидированию-->
                        <td class="lrw-table__cell">{{ roundValue(total.consumptionRate) }}</td> <!--Расход-->
                        <td class="lrw-table__cell"></td>
                        <td class="lrw-table__cell">{{ roundValue(total.tariffPrice) }}</td> <!--Стоимость по тарифу-->
                        <td class="lrw-table__cell">{{ roundValue(total.subsidySum) }}</td> <!--Сумма субсидии-->
                        <td class="lrw-table__cell">{{ roundValue(total.total) }}</td> <!--К оплате-->
                    </tr>
                </table>
                <div class="lrw-form__controls">
                    <p v-if="isFormError" class="lrw-form__commonTableError">{{ $t('form.commonError') }}</p>
                    <p v-if="isTablePageError" class="lrw-form__commonTableError">{{ $t('form.tableEror' ) }}</p>
                    <pagination :pageCount.sync="pageCount" :current="currentPage"
                                v-on:nextPage="onNext"
                                v-on:prevPage="onPrev"></pagination>

                    <div class="lrw-form__submit-block">
                        <button type="button" class="btn btn--primary" v-confirm="{
                            okText: $t('form.resetDialogOk'),
                            cancelText: $t('form.resetDialogCancel'),
                            message: $t('form.resetDialogTitle'),
                            ok: resetDialogOk}">
                            {{ $t('form.reset' ) }}
                        </button>
                        <button type="submit" class="btn btn--primary" :disabled="isFormSubmitting">
                            <span v-if="isFormSubmitting">{{ $t('form.submitting' ) }}
                                <img src="../../assets/loader.svg"/></span>
                            <span v-else>{{ $t('form.submit' ) }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div v-if="isSubmitted && isSubmittedSuccess" class="alert-wrapper">
            <div class="alert alert--success" role="alert">
                <h4 class="alert__title">{{$t('form.success')}}</h4>
                <p class="alert__text">{{$t('form.submitted')}}</p>
            </div>
            <div class="alert-buttons">
                <button type="button" class="alert-buttons__btn btn btn--primary">
                    {{$t('form.return')}}
                </button>
                <button type="button" class="alert-buttons__btn btn btn--primary">
                    {{$t('form.returnClean')}}
                </button>
            </div>
        </div>
        <div v-if="isSubmitted && isSubmittedError" class="alert-wrapper">
            <div class="alert alert--error" role="alert">
                <h4 class="alert-title">{{$t('form.submitProblem')}}</h4>
                <p class="alert__text">
                    {{$t('form.returnClean')}}
                </p>
            </div>
            <div class="alert-buttons">
                <button type="button" class="alert-buttons__btn">
                    {{$t('form.return')}}
                </button>
            </div>
        </div>
    </div>
</template>
<style src="./Form.scss" lang="scss"></style>
<script src="./Form.js"></script>
