.alert-wrapper{
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.alert__title{
  font-size: 22px;
  text-align: left;
  font-weight: 500;
  & + .alert__text{
    margin-top: 20px;
  }
}

.alert-buttons{
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.alert-buttons__btn{
  & + .alert-buttons__btn{
    margin-left: 20px;
  }
}



.alert{
  position: relative;
  padding: 20px 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  &.alert--success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}
