<template>
  <div id="app" class="site-wrapper">
      <app-form></app-form>
  </div>
</template>

<script>
import Vue from 'vue';
import Form from './components/form/Form.vue';

export default {
  name: 'app',
  data () {
    return {
    }
  },
  components: {
    appForm: Form
  }
}
</script>
